.container {
  display: grid;
  grid-template-rows: 6rem repeat(var(--number-rows), 1fr);
  grid-template-columns:
    [sidebar-start] minmax(max-content, 20rem) [sidebar-end full-start]
    minmax(5rem, 1fr) [center-start]
    repeat(
      8,
      [col-start] minmax(min-content, var(--height-card)) [col-end]
    ) [center-end]
    minmax(5rem, 1fr) [full-end];
}
